@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "flowbite/dist/flowbite.css";

@layer components {
	.custom-button {
		@apply text-blue-500 border border-blue-500 hover:text-white hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800;
	}

	.icon-button {
		@apply text-blue-500 border border-blue-500 hover:text-white hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center justify-center w-10 h-10 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800;
	}
}

/* Custom range input styles */
input[type="range"] {
	@apply appearance-none;
}

input[type="range"]::-webkit-slider-thumb {
	@apply appearance-none w-4 h-4 bg-blue-600 rounded-full cursor-pointer -mt-1;
}

input[type="range"]::-moz-range-thumb {
	@apply appearance-none w-4 h-4 bg-blue-600 rounded-full cursor-pointer;
}

input[type="range"]::-ms-thumb {
	@apply appearance-none w-4 h-4 bg-blue-600 rounded-full cursor-pointer;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@layer utilities {
	.bg-modern-black {
		background-color: #1e1e1e;
	}
	.bg-lighter-black {
		background-color: #2a2a2a;
	}
}
